$white: #fff;
$black: #000;
$dark-purple: #260440;
$mate-purple: #614e73;
$grey-purple: #392a53;
$darkest-purple: #0E0422;
$light-grey: #e8ecee;
$violet: #8772BF;
$grey: #6c7279;
$middle-grey: #c6cacc;
$blue: #99ccff;

$fonts:(
rw: 'Raleway',
os: 'Open Sans',
rb: 'Roboto',
ks: 'Kaushan Script',
br: 'Bankir-Retro'
);